:root {
    --lighter: #fafafa;
    --black: #000000;
}

html,
body,
main {
    overflow: hidden;
}

#app {
    height: calc(var(--vh, 1vh) * 100);
}

.navbar {
    box-shadow: none !important;
}

.mnw-0 {
    min-width: 0 !important;
}

.mxw-50 {
    max-width: 50% !important;
}

.mxw-75 {
    max-width: 75% !important;
}

.font-half {
    font-size: 50%;
}

.display-over {
    position: absolute;
    z-index: 9999;
}

.user-select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.chat-messages {
    background-color: #fbfbfb;
    display: flex !important;
}

.chat-message {
    line-height: 1.5;
    word-wrap: break-word;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-message > div:first-child {
    min-width: 8%;
    max-width: 75%;
    min-height: 4vh;
    cursor: pointer;
    user-select: none;
    transition: filter 250ms;
}

.chat-message > div:first-child:focus {
    outline: none !important;
    filter: brightness(85%);
}

.chat-message > div:first-child,
.message-textarea {
    border-radius: 1.25rem 2.5rem;
    padding: 0.75rem 1.5rem;
    border-width: 0.1rem;
    border-style: solid;
}

.chat-message.outgoing {
    flex-direction: row;
}

.chat-message.incoming {
    flex-direction: row-reverse;
}

.chat-message.server {
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.chat-message > div.outgoing {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--light);
}

.chat-message > div.incoming {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--dark);
}

.chat-message > div.server {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--dark);
}

.chat-message.outgoing > .message-send-date {
    text-align: right;
}

.chat-message.incoming > .message-send-date {
    text-align: left;
}

.chat-message.server > .message-send-date {
    text-align: center;
}

.message-textarea {
    background-color: var(--lighter);
    border-color: var(--lighter);
    height: 4rem;
    resize: none;
}

.send-btn {
    min-width: 2.75rem !important;
    min-height: 2.75rem !important;
    width: 2.75rem !important;
    height: 2.75rem !important;
}

.message-send-date {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms, visibility 250ms, line-height 250ms;
    line-height: 0;
}

.message-send-date.shown {
    visibility: visible;
    opacity: 1;
    line-height: 1.5;
}

.form-control:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.list-group-item :first-child {
    margin: 0 !important;
}

.list-group-item-hover:hover {
    color: rgba(0, 0, 0, 0.87);
    background-color: hsla(0, 0%, 60%, 0.2);
    border-color: hsla(0, 0%, 60%, 0.2);
}

.break-all {
    -ms-word-break: break-all;
    word-break: break-all;
    word-wrap: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.break-word {
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

.table-list {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.table-list.paginated {
    overflow: auto;
}

.table-list.paginated-hidden {
    overflow: hidden !important;
}

.table-list-row {
    display: flex;
    flex-direction: row;
}

.table-list-row a {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: none;
    width: 100%;
    text-align: left;
}

.btn {
    margin-bottom: 0 !important;
}

.no-focus-color.btn:focus,
.no-focus-color.btn:hover {
    color: inherit;
}

.no-focus-color.bg-light:focus {
    background-color: var(--light) !important;
}

.table-list-row .pop-over {
    flex-direction: row;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffffaa;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms, visibility 250ms;
    cursor: pointer;
}

.table-list-row .pop-over.shown {
    visibility: visible;
    opacity: 1;
}

.table-list-cell {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding: 0.75rem;
}

.table-list-cell > span.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

span.material-icons,
span.badge {
    vertical-align: middle !important;
}

form {
    margin-bottom: 0;
}

.material-icon-badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75rem;
}

.btn.has-badge {
    width: 2.5rem;
    height: 2.5rem;
}

.btn-badge {
    position: absolute;
    top: 28%;
    right: 12%;
    font-size: 0.75rem;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

#video-nodes {
    background-color: #111111;
    overflow-y: hidden;
}

.video {
    background-color: #212121;
    object-fit: cover;
    -ms-word-break: break-all;
    word-break: break-all;
}

.user-icon {
    font-size: calc(var(--vh, 1vh) * 8);
}

.bg-img-none {
    background-image: none !important;
    background: none !important;
}

.font-size-inherit {
    font-size: inherit;
}

.color-inherit {
    color: inherit;
}

label.btn + input[type='file'] {
    display: none;
}

.fiv-viv {
    font-size: 2.5rem !important;
}

.fiv-viv.fiv-viv-lg {
    font-size: 10rem !important;
}

.modal-title {
    margin-right: auto;
}

.modal-button {
    opacity: 0.5;
    margin-left: 1rem !important;
}

.modal-button:hover {
    opacity: 0.9;
}

.modal.modal-fullscreen {
    overflow: hidden;
}

.modal.modal-fullscreen > .modal-dialog {
    margin: 0;
    min-width: 100%;
    height: 100%;
}

.modal.modal-fullscreen > .modal-dialog > .modal-content {
    height: 100%;
}

.modal.modal-fullscreen > .modal-dialog > .modal-content > .modal-body {
    height: 0; /* Why does the scaling work when height is 0 or some other arbitrary value like 1% all through 80%?? */
}

.modal-content.bg-black {
    color: var(--light) !important;
}

.modal-content.bg-black .modal-button {
    color: var(--light);
}

.modal-content.bg-black .modal-button:hover {
    color: var(--light);
}

.bg-black {
    background-color: var(--black) !important;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-item {
    height: 100%;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-item > img {
    display: block;
    overflow: hidden;
}

.carousel-item > audio {
    min-width: 75%;
}

@media (orientation: portrait) {
    .carousel-item > img,
    .carousel-item > video {
        width: 100%;
        max-height: 100%;
    }
}

@media (orientation: landscape) {
    .carousel-item > img,
    .carousel-item > video {
        max-width: 100%;
        height: 100%;
    }
}

.carousel-item-next {
    transform: translateX(100%) !important;
}

.carousel-item-prev {
    transform: translateX(-100%) !important;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
}

.carousel-control-prev {
    transform: translateX(-25%) !important;
}

.carousel-control-next {
    transform: translateX(25%) !important;
}

.carousel-indicators {
    top: 8px !important;
    bottom: unset !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}
